@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

@import "variables";

// font family
.ff-bai {
	font-family: "Bai Jamjuree", sans-serif;
}

.ff-comfortaa {
	font-family: "Comfortaa", cursive;
}
// font weight
.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}

// primary colors
.StrongCyan {
	color: $StrongCyan !important;
}

.LightBlue {
	color: $LightBlue !important;
}

// neutral colors
.DarkGrayishBlue {
	color: $DarkGrayishBlue !important;
}

.GrayishBlue {
	color: $GrayishBlue !important;
}

// // Background colors
// primary colors
.Bg-StrongCyan {
	background-color: $StrongCyan !important;
}

.Bg-LightBlue {
	background-color: $LightBlue !important;
}

// neutral colors
.Bg-DarkGrayishBlue {
	background-color: $DarkGrayishBlue !important;
}

.Bg-GrayishBlue {
	background-color: $GrayishBlue !important;
}

.fs-96px {
	font-size: 10rem;
}

.fs-64px {
	font-size: 4rem;
}
.fs-52px {
	font-size: 3.25rem;
}

.fs-48px {
	font-size: 3rem;
}

.fs-38px {
	font-size: 2.375rem;
}

.fs-32px {
	font-size: 2rem;
}

.fs-24px {
	font-size: 1.5rem;
}

.fs-20px {
	font-size: 1.25rem;
}

.fs-18px {
	font-size: 1.125rem;
}

.fs-16px {
	font-size: 1rem;
}
